
.description{
    display: flex;
    width: 80%;
    margin: 70px auto;
    align-items: center;    /* Centers items horizontally */
}
.description span{
    margin: 0px 9px 0px 50px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}


.description img{
    width: 300px;
    height: fit-content;
    align-self: center;
}

@media (max-width: 1230px) {

    .description{
        display: block;
        width: 95%;
        margin: 20px auto;
        text-align: center; 
    }
    .description span{
        margin: 0 10px;
    }
    .description img{
        margin-bottom: 20px;
    }
}