h1 {
    font-family: 'Garamond', serif !important; 
    font-size: 40px !important; 
    font-weight: 600 !important; 
    color: #4a4a4a !important; 
    text-align: center !important; 
    margin: 40px 0 !important; 
    position: relative !important;
    text-transform: uppercase !important; 
    background-color: antiquewhite;
    border-radius: 8px;
    margin-bottom: 40px;
    padding: 10px 0 !important;
}

h2{
    font-size: 2.5em !important;
}

h3{
        font-family: 'Roboto', sans-serif;
        color: #333;
        line-height: 1.4;
        text-align: justify;
        font-size: medium !important;
    
}

.container{
    width: 70% !important;
    min-height: 700px !important;
    align-items: center !important;
    text-align: justify;

}