html, body, header, footer{
background-color: white !important;
}

.introduction{
    background-image: url("../media/img/background.gif") !important;
    background-size: contain;
    background: no-repeat;
    background-position: center;
    background-position-y: top;
    height:65%;
    position: relative;
}

.introduction-box{
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem !important;
   background: no-repeat;
  background-image: url(../media/img/introduction-box.png);
  background-size: contain;
  position: relative;
  padding: 98px 60px 110px 117px;
  height: 500px;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  background-position-x: center;
  right: 14px;
}

.introduction h5{
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 1.2rem !important;
} 

.introduction h6{
  font-weight: 400;
  line-height: 24px !important;
  font-size: 1rem !important;
}

.floating-images img{
  width: 0;
  height: 0;
}

.video-collection h4 {
  font-family: 'Mate SC', serif;
  margin-bottom: 40px;
  font-size: 2.5em;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-collection h6 {
  font-family: 'Mate SC', serif;
  margin-top: 10px;
  font-size: 1.2em;
  color: #555;
}

.video-collection .col {
  margin-bottom: 30px;
}

.row-videocollection{
  display: flex;
}

.see-more-btn {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #a07e4a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.see-more-btn:hover {
  background-color: #cfad80;
}


.pricelist img
{  
  max-width: 100%;
  margin: 0px auto;
}


@media screen and (max-width: 770px){

    .introduction{
      background-image: none !important;  
      height: 274px;
      position: relative;
    }

    .introduction-box{
      width: 338px;
      padding: 67px 42px 235px 79px;
    } 

    .floating-images img{
      width: auto;
      height: auto;
      margin: 30px auto;
      min-height: 28%;
      max-width: 80%;      
    }  
    
    #row-videocollection{
      display: grid;

    }
    .video-collection .col {
      margin-bottom: 30px !important;
    }

    .pricelist{
      width: 100%;
    }

    .pricelist img{
      width: auto;
      height: auto;
      margin: 0 auto;
      min-height: 28%;
      max-width: 100%;
  }
  
  h5{
    font-size: 1rem !important;
    margin-bottom: 0px !important;
    line-height: 18px !important;
  }
  .introduction h6{
    font-size: 0.9rem !important;
    line-height: 16px !important;
    padding-top: 0px !important;
  }

  html, body, header, footer{
    background-color: white !important;
    }
}

  