

.introduction{
    background-image: url("../media/img/background.gif") !important;
    background-size: contain;
    background: no-repeat;
    background-position: center;
    background-position-y: top;
    height:65%;
    position: relative;
}

.introduction-box{
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem !important;
   background: no-repeat;
  background-image: url(../media/img/introduction-box.png);
  background-size: contain;
  position: relative;
  padding: 109px 63px 110px 117px;
  height: 500px;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  background-position-x: center;
  right: 14px;
}

.introduction h5{
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 1.2rem !important;
} 

.introduction h6{
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .03em;
  text-transform: none;
  line-height: 1.2em;
}

.floating-images img{
  width: 0;
  height: 0;
}

.video-collection h4 {
  font-family: 'Mate SC', serif;
  font-size: 2.5em;
  text-transform: uppercase;
}


.video-collection h6 {
  font-family: 'Mate SC', serif;
  margin-top: 10px;
  font-size: 1.2em;
  color: #555;
}

.video-collection {
  margin: 40px auto !important;
  width: 80%;
}

.see-more-btn {
  font-family: "Josefin Slab", serif;
  font-style: italic;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #a07e4a;
  cursor: pointer;
  text-decoration: underline;
  margin: 10px 0;
  float: right;
  margin-right: 170px;
}

.see-more-btn:hover {
  color: #cfad80;
}


.video-with-description{
  display: grid;
}

.video-container{
  display: grid;
  padding-bottom: 42.25% !important;
}

.video-container video{
  margin-left: auto;
  margin-right: auto;
  max-width: 70% !important;
}

h4{
   font-family:"Josefin Slab", serif;
    font-size: 23px !important;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    justify-self: center;
}




#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:96%;
	border:1px solid #CCC;
	background:#FFF;
	padding: 5px 10px;
    font-size: large !important;
}

#contact input:focus, #contact textarea:focus {
  border-bottom: 1px solid rgb(253, 242, 228) !important;
  box-shadow: 0 1px 0 0 antiquewhite !important;
}

#contact textarea {
	height:100px;
	width:99%;
  resize:none;
  padding: 7px 10px;
  border:1px solid #CCC;
}

#contact button[type="submit"] {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #a07e4a;
  color: white;
  border: none;
  cursor: pointer;
	font-size:1.2em;
  transition: background-color 0.3s;
  margin: 10px 0;
  width: 140px;;
  text-transform: uppercase;
  position: relative;
  margin-right: 15px;
}

#contact button[type="submit"]:hover {
	background: rgb(228, 214, 195);
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

.thank-you-message {
  display: none;
  padding: 20px;
  background-color: rgb(255, 249, 241);
  border: 1px solid rgba(250, 235, 215, 0.918);
  border-radius: 5px;
  color: #155724;
  font-size: 1.2em;
}


@media screen and (max-width: 770px){

    .introduction{
      background-image: none !important;  
      height: 274px;
      position: relative;
    }

    .introduction-box{
      width: 338px;
      padding: 63px 42px 235px 79px;
    } 

    .floating-images img{
      width: auto;
      height: auto;
      margin: 30px auto;
      min-height: 28%;
      max-width: 80%;      
    }  

    .video-collection {
      margin: 0 0 !important;
      width: 100%;
    }

    .video-container {
      padding-bottom: 56.25% !important;
    }
    .video-container video{
      max-width: 100% !important;
    }
  
  h5{
    font-size: 0.9rem !important;
    margin-bottom: 0px !important;
    line-height: 18px !important;
  }
  .introduction h6{
    font-size: 0.9rem !important;
    line-height: 19px !important;
    padding-top: 0px !important;
  }

  .see-more-btn {

    margin: 10px 0 !important;
    width: 162px;
  }

  #pricelist-div > img{
    src: url("/media/img/pricelist-small.png");
  }
}

