
.pricelist img
{  
  width: 100% !important;
  margin: 0px auto;
}

@media screen and (max-width: 670px){

    .pricelist{
      width: 100%;
    }

    .pricelist img{
      width: auto;
      height: auto;
      margin: 0 auto;
      min-height: 28%;
      max-width: 100%;
  }
}