a{
  color:#a07e4a !important;
}


#pricelist-div{
  display: grid;
  justify-content: center;
  width: 80% !important;
  margin: 0px auto 30px auto;
}

.frame-free {
  position: relative;
  padding: 10px 30px 20px 30px;
  margin: 10px auto !important;
  max-width: 763px;
  margin-bottom: 50px !important;
  text-align: justify !important;
  pointer-events: none;
}
.frame-free a{
  pointer-events: all;
  z-index: 10000 !important;
}

.frame-free:before,
.frame-free:after{
    content: "";
    position: absolute;
    border: 1px solid #bba58e;

}

.frame-free:before {
    top: -5px;
    left: -7px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-radius: 10px;
}

.frame-free:after {
    top: -10px;
    left: -2px;
    width: calc(100% + 15px);
    height: calc(100% + 20px);
    border-radius: 15px;
} 

form{
  width: 70%;
  margin: 20px auto;

}


fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0 !important;
	width: 100%;
}


#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:96%;
	border:1px solid #CCC;
	background:#FFF;
	padding: 5px 10px;
    font-size: large !important;
}

#contact input:focus, #contact textarea:focus {
  border-bottom: 1px solid rgb(253, 242, 228) !important;
  box-shadow: 0 1px 0 0 antiquewhite !important;
}

#contact textarea {
	height:100px;
	width:99%;
  resize:none;
  padding: 7px 10px;
  border:1px solid #CCC;
}

#contact button[type="submit"] {
	cursor:pointer;
	border:none;
	background: antiquewhite;
	color:#535353;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#contact button[type="submit"]:hover {
	background: rgb(228, 214, 195);
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

 h2{
  background-color: antiquewhite;
  margin-bottom: 10px !important;
}


.thank-you-message {
    display: none;
    padding: 20px;
    background-color: rgb(255, 249, 241);
    border: 1px solid rgba(250, 235, 215, 0.918);
    border-radius: 5px;
    color: #155724;
    font-size: 1.2em;
}


@media screen and (max-width: 770px){
  #pricelist-div{
    width: 100% !important;
  }
    
    #pricelist-div img{
      position: relative;
       max-width: 100%;
       height: auto; 
       object-fit: contain;
  }
  .frame-free {

    max-width: 98%;
    padding: 10px;
  }
  
form{
  width: 95%;
}

  h2{
    padding: 0px !important;
  }
}