a{
  color:#a07e4a !important;
}

.pricelist img
{  
  width: 100% !important;
  margin: 0px auto;
}


.pricelist img{
  margin-bottom: 30px;
}

.frame-free {
  position: relative;
  padding: 10px;
  margin: 10px auto !important;
  max-width: 80%;
  background-color: transparent;
  margin-bottom: 50px !important;
}

.frame-free:before,
.frame-free:after{
    content: "";
    position: absolute;
    border: 1px solid #bba58e;
    transition: all 0.25s ease;
    opacity: 1;
}

.frame-free:before {
    top: -5px;
    left: -7px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-radius: 10px;
}

.frame-free:after {
    top: -10px;
    left: -2px;
    width: calc(100% + 15px);
    height: calc(100% + 20px);
    border-radius: 15px;
} 


@media screen and (max-width: 670px){

    .pricelist{
      width: 100%;
    }

    .pricelist img{
      width: auto;
      height: auto;
      margin: 0 auto;
      min-height: 28%;
      max-width: 100%;
  }
  .frame-free {

    max-width: 98%;
  }

  h2{
    padding: 0px !important;
  }
}