
  .container {
    margin-top: 20px;
    width: 60% !important;
  }
  .video-collection {
    text-align: center;
    margin-top: 20px;
  }
  
  .video-container {
    overflow: visible !important;
    width: 100%; /* Adjust as needed */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.responsive-video {
    width: 100%;
    height: auto;
    display: block;
}

  
  .video-with-description{
    margin: 50px 0px 100px 0px !important;
    font-size: 1.1rem !important;
  }



@media screen and (max-width: 670px){

  .container{
    width: 90% !important;
  }

  .video-container {
    width: 100% !important;
    display: inline-block;
    margin-bottom: 15px;
  }

   .video-title{
    font-size: 1.4em !important;
  }
    
  .video-with-description{
    margin: 20px 0px 60px 0px !important;
  }
}