
  .container {
    margin-top: 20px;
    width: 60% !important;
  }
  .video-collection {
    text-align: center;
    margin-top: 20px;
  }
  .video-container {
    overflow: visible !important;
  }

  .video-container iframe{
    border-radius: 40px;
  }
  
  .video-with-description{
    margin: 70px 0px 60px 0px !important;
    font-size: 1.1rem !important;
  }

  iframe {
    width: 100%;
    height: 315px;
  }

.video-title{
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #a07e4a;
  margin-bottom: 25px !important;
  font-size: 1.8em !important;
}

@media screen and (max-width: 670px){

  .container{
    width: 90% !important;
  }

  .video-container {
    width: 100% !important;
    display: inline-block;
    margin-bottom: 15px;
  }

   .video-title{
    font-size: 1.4em !important;
  }
    
  .video-with-description{
    margin: 20px 0px 60px 0px !important;
  }
}